## Python & Jupyter defaults
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
.ipynb_checkpoints/

## editors/IDE
# (technically these should be in each user's $GIT_DIR/info/exclude)
.vscode/
.idea/
*.sublime-*
*~
*.swp
*.swo

## virtual environments
.env

# convenience activate
activate.sh
